.avatarr{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    background-color: #131324;
    height: 100vh;
    width: 100wh;
}
.imhload{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    background-color: #131324;
    height: 100vh;
    width: 100wh;
    max-inline-size: 100%;
}

.loader{
    max-inline-size: 100%;
}

.total-avatar h1{
    color: white;
}

.avatars{
    display: flex;
    gap: 2rem;
}

.avatars avatar{
    border: 0.4rem solid transparent;
    padding: 0.4rem;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile{
    height: 6rem;
}
.selected{
    border: 0.4rem solid #4e0eff;
    border-radius: 40%;
}

.setProfile{
    background-color: #997af0;
    color: white;
    padding: 1rem 2rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.4rem;
    font-size: 1rem;
    text-transform: uppercase;
    /* transition: 0.9s else-in-out; */
    &:hover{
        background-color: #4e0eff;
    }
}