.container4{
    padding: 1rem;
}

.chat-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.user-details{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.avatar4 img{
    height: 3rem;
}

.username4 h3{
    color: white;
}