.container1{
    display: grid;
    grid-template-columns: 10% 75% 15%;
    overflow: hidden;
     background-color: #080420; 
     /* background-color: antiquewhite; */
}
.brand{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.image{
    height: 22rem;
}

.brand h3{
    color: white;
    text-transform: uppercase;
}

.contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    gap: 0.8rem;
}

.contact {
    background-color: #ffffff34;
    min-height: 5rem;
    cursor: pointer;
    width: 90%;
    border-radius: 0.2rem;
    padding: 0.4rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    transition: 0.5s ease-in-out;
} 